:root {
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
  border: 1vh solid black;
  width: 100%;
  background-color: white;
}

.App {
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  width: 100vw;
  min-width: 300px;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 2vh;
  box-sizing: border-box;
}

header ul {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  height: 100%;
  width: 300px;
}

a {
  text-decoration: none;
  color: black;
}

header li h5 {
  margin: 2px;
  box-sizing: border-box;
}

header li:hover{
  border-bottom: 2px solid blue;
}

a:visited {
  color: black;
}

.view {
  box-sizing: border-box;
  padding: 0 2vh;
  width: 95%;
  min-width: 300px;
  max-width: 850px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 10vh;
}

.title {
  text-align: center;
  margin: 5vh 0 10vh 0;
}

/* HOME VIEW */

.Home {
  text-align: center;
}

.Home a {
  height: 300px;
}

.Home .title {
  margin-bottom: 5vh;
}

.Home .image-container {
  height: 280px;
  width: 280px;
  background-image: url(./Camino1.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-position-x: 50%;
  background-position-y: 80%;
  margin: auto;
  transition: all 200ms linear;
}

.image-container:hover {
  transform: scale(1.05);
}

.image-container .link {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  /* box-shadow: 0 5px 10px 2px black; */
}

.about-short {
  text-align: left;
  line-height: 40px;
}

.about-short h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-short p {
  font-size: 14px;
}

/* ABOUT VIEW */

.About {
  padding-bottom: 10vh;
}

.About .paragraph {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.About .paragraph img {
  height: 160px;
  margin: 10vh auto;
  filter: drop-shadow(0px 0px 6px grey)
}

.About .paragraph p {
  line-height: 30px;
  text-align: justify;
  padding: 0 20px;

}

/* PROJECTS VIEW */

.Projects {
  padding-bottom: 10vh;
}

.Projects hr {
  width: 100%;
  margin: 0 0 5vh 0;
}

.project {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 0 5vh 0;
}

.project a {
  display: flex;
  width: 100%;
}

.project-image {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-link {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 200ms linear;
  display: flex;
  background-color: rgba(0, 0, 0, .05);
}

.image-link .link-container {
  margin: auto;
  border: 1px solid transparent;
  color: transparent;
  width: 200px;
  height: 50px;
  display: flex;
}

.link-container h4 {
  margin: auto;
}

.image-link:hover {
  background-color: rgba(0, 0, 0, .7);
  cursor: pointer;
}

.image-link:hover .link-container {
  border: 3px solid blue;
  border-radius: 5px;
  color: white;
}

.project-image img {
  height: 300px;
}

.project-title {
  width: 100%;
}

.project-title p {
  font-size: 14px;
  font-style: italic;
}

.project-detail-image {
  position: relative;
}

.project-detail-image .link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-detail-image:hover .link {
  background-color: rgba(0, 0, 0, .65);
}

.project-detail-image:hover .project-link {
  border: 2px solid blue;
}

.project-detail-image:hover .project-link div {
  color: white;
}

.project-link {
  height: 100px;
  width: 200px;
  border-radius: 5px;
}

.project-link div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.project-detail-image img{
  width: 100%;
  box-shadow: 0 0 7px 2px black;
}

.project-background {
  text-align: center;
  margin: 5vh auto;
}

.project-background a {
  color: blue;
  font-weight: bold;
}

.project-background a:visited {
  color: blue;
  font-weight: bold;
}

.technology-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.technology-container h3 {
  width: 100%;
  text-align: center;
}

.technology-container img {
  height: 100px;
}

.technology-container #odd {
  height: 80px;
}

/* CONTACT VIEW */

.Contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}