:root {
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
  border: 10px solid black;
  width: 100%;
  background-color: white;
  position: relative;
  --forest-green: #186218;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAV BAR */

header {
  width: 100%;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border: 10px solid black;
  border-bottom: none;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 5;
  transition: background-color 400ms linear;
}

.scrolled {
  background-color: white;
  /* box-shadow: 0 0 5px 1px black; */
}

.green {
  color: var(--forest-green);
}

.logo {
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h2 {
  color: white;
  font-family: 'Pacifico', cursive;
  box-sizing: border-box;
  font-size: 3vh;
  transition: color 300ms linear;
}

.scrolled .logo h2 {
  color: var(--forest-green)
}

header ul {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  transition: all 300ms linear;
  height: 100%;
}

header a {
  height: 100%;
}

header li {
  font-size: 14px;
  padding: 0 20px;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  position: relative;
}

header li p {
 margin: auto;
 color: white;
 transition: color 300ms linear;
}

.scrolled header li p {
  color: var(--forest-green)
}

header li .underline {
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
}

header li:hover .underline {
  background-color: var(--forest-green);
}

/* GENERAL STYLES */

.view {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: calc(100vh - 10px);
}

.title {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.arrow-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -4vh);
  animation-name: bounceArrow;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  z-index: 5;
}

@keyframes bounceArrow {
  0% { transform: translate(-50%, -4vh); }
  50% { transform: translate(-50%, -3vh);}
  100% { transform: translate(-50%, -4vh); }
}


/* HOME VIEW */

.Title {
  text-align: center;
  justify-content: center;
  position: relative;
  background-color: rgb(0, 90, 192);
  color: white;
  background-image: url(./trees.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.name-container {
  width: 100%;
  margin: auto auto 45vh auto;
  text-shadow: 0 0 8px black;
}

.Title .name {
  font-size: 3.4vh;
  font-family: 'Pacifico', cursive;
}

.Title .job {
  width: 100%;
  font-size: 2.5vh;
}

.Title .arrow-down a,
.Title .arrow-down a:visited {
  color: white;
}


/* ABOUT VIEW */

.About {
  box-sizing: border-box;
  padding-top: 10vh;
  position: relative;
  height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(250, 0, 0, .4)
}

.About .title {
  font-size: 35px;
}

.About .title h2 {
  margin: 0;
}

.maps-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.About .paragraph {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.About .paragraph img {
  filter:  grayscale(60%) blur(1px);
  height: 20vh;
  transition: all 300ms linear;
}

.paragraph img:hover {
  filter: drop-shadow(0px 0px 6px grey);
}

@media (max-width: 500px) {
  .About .paragraph img {
    height: 10vh;
  }
}

.About .paragraph p {
  max-width: 800px;
  width: 90%;
  line-height: 30px;
  text-align: center;
  padding: 0 10px;
  font-size: 14px;
}

/* PROJECTS VIEW */

.Projects {
  width: 100%;
  /* max-width: 800px; */
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding-top: 10vh;
  box-sizing: border-box;
}

.project .image-container img {
  display: block;
  max-width:100%;
  max-height:40vh;
  width: auto;
  height: auto;
}

.project-title {
  font-size: 18px;
  /* border: 1px solid black; */
}

.project-title h4 {
  font-size: 40px;
  font-weight: normal;
  margin: 0;
}

.project-title p {
  font-size: 14px;
  font-style: italic;
}

.eatstagram h4{
  font-family: 'Permanent Marker', cursive;
}

.battleship h4 {
  font-family: 'Squada One', cursive;
}

.button-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  border: 3px solid var(--forest-green);
  color: var(--forest-green);
  box-sizing: border-box;
  border-radius: 5px;
  height: 5vh;
  width: 20vh;
  margin: 2vh 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms linear;
  cursor: pointer;
  font-size: 14px;
}

.button:hover {
  background-color: red;
  background-color: var(--forest-green);
  color: white;
}

.technology-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.technology-container h3 {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  margin: 5px 0;
}

.technology-container img {
  height: 50px;
}

.technology-container #odd {
  height: 40px;
}

/* CONTACT VIEW */

.Contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: calc(100vh-10px);
  padding: 10vh 0 20vh 0;
  align-items: center;
}

.Contact .title h2 {
  font-size: 7vh;
  margin: 0;
}

.Contact .button {
  justify-content: space-around;
}

.Contact .button {
  font-size: 2vh;
}

.contacts {
  width: 275px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.vertical-line {
  background-color: grey;
  width: 1px;
  height: 14px;
}